
body {
  background-color: lightblue;
}

* {
  margin: 0;
  padding: 0;
}

#MDPreviewer {
  background-color: #6495ED;
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;  
  align-items: center;
}

.toolbar {
  border: 1px solid black;
  width: 100%;
  background-color: #002D62;
  Color: white;
}

#editor {
  background-color: lightblue;
  border: 1px solid black;
  width: 35rem;
  height: 12rem;  
  justify-self: center;  
  color: black;
}

#preview {  
  border: 1px solid black;
  width: 55rem;  
  height: 50rem;  
  background-color: lightblue; 
}