body {
  display: grid;
  justify-content: center;  
  align-items: center;  
}

#quotestand {
  text-align: center;
  background-color: white;
  box-shadow: 5px 10px gray;
  border-radius: 10px;
}

#QuotePage {
  box-shadow: 5px 10px #999999;
  text-align: center;
  max-width: 500px;
  border-radius: 10px;
}

#quotestand {
  max-width: 500px;
  border-radius: 10px;
}

#author {
  text-align: center;
}

#iconsButtonLine {
  display: flex;
  justify-content: space-between;
}

#icons {
  background-color: white;
  color: #bc5a45;
  margin: 10px;
}

#tw-icon,
#tb-icon {
  margin: 10px;
}

#sign {
  color: white;
  margin: 0;
  padding-top: 3rem;
  text-align: center;
}

#RandomQuoteMachine {
  width: 50%;
  border: 2px solid black;
}

button {
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
}
