/*Global Elements */

#navbar a {
  text-decoration: none;
  color: black;
  width: 100%;
}

li {
  padding-bottom: 10px;
}

p {
  font-size: 16px;
  font-weight: 50;
  line-height: 1.5;
}

h1 {
    text-align: center;
    font-size: 40px;
  }

/* Global Classes and IDs */



/*   */

#main-doc li {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

/* Global ids and classses*/

/**/

body {
  display: flex;  
  margin: 0;
  }

#navbar {
  position: fixed;
  lyst-style: none;  
  width: 320px;  
  height: 100vh;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  height: 100%;
  border: 5px solid gray
}

#navbar p {
  padding-left: 20px;
  font-size: 18px;
}

#navbar li {
  list-style: none;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  font-size: 20px;  
  padding: 10px 30px 10px 20px; 
  font-weight: 100;  
}

#navbar ul {  
  width: 100%;
  margin: 0;
  padding: 0;      
}

header {
  font-weight: 550;  
}

#jsdocumnt {
  padding: 10px 0 0 10px;
  font-size: 26px;  
}

#main-doc {  
  margin-left: 325px;
  padding: 20px 0 0 35px;
}

#main-doc p {
  padding: 0 0 0 35px;
}

#main-doc ul {
  padding: 0 0 0 90px;
}

code {
  margin-top: 20px;  
}

#formulas {
  padding: 20px;
  margin: 20px;
  background-color: lightgray;
  width: 90%;
}

#main-doc header {
  margin-top: 20px;  
}

@media (max-width: 1300px) {  
  
  body {
    flex-direction: column;
  }
  
  #navbar {
    height: 40vh;
    width: 96.5vw;
    position: absolute;
  }
  
  #main-doc {       
    margin: 40vh 0 0 0;    
  }
  
  h1 {
    text-align: center;    
  }  
}
